.product{



  .ant-card-body{
    cursor: pointer;
    padding: 0px;
    text-align: center
  }
  img{
    width: 70%;

  }

  p{
   font-weight: 500;

  }
  .highlight{
    color: red;

  }
}

.paging{
  float: right !important;
}